<configuration>

    <!-- Scan untuk perubahan file logback-spring.xml -->
    <configurationScan period="30 seconds"/>

    <!-- Encoder JSON untuk File -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-log-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"payment-switcher", "version":"v1.0.0"}</customFields>
        </encoder>
    </appender>

    <!-- Console Output dalam Plain Text -->
    <appender name="PLAIN_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Level Logging -->
    <root level="INFO">
        <appender-ref ref="PLAIN_CONSOLE"/>
    </root>

    <!-- Khusus untuk package id.co.swamedia -->
    <logger name="id.co.swamedia.starter" level="INFO" additivity="false">
        <appender-ref ref="PLAIN_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </logger>
</configuration>
